// ===============================================================
/* FONTS */
// ===============================================================
$base-font: Cabin;
$base-font-number: Roboto;
$base-font-size: 16px;


// ===============================================================
/* COLORS */
// ===============================================================
$yellow:   #ffc800; //normal
$orange:   #ee642d; //normal
$red:      #bc2c3e; //normal
$green:    #188c6d; //normal

$blue:     #2ab9b4; //normal
$blue-d:   #1a9b98; //dark

$purple:   #3e2656; //normal
$purple-d: #582c74; //dark

$white-d:  #f6f6f6; //light

$gray-l:   #a49e98; //light
$gray:     #7d756e; //normal
$gray-d:   #66615c; //dark

$black-l:  #1d1c29; //light

// ===============================================================
/* BACKGROUND */
// ===============================================================
$bg-blue:   $blue; //normal
$bg-blue-d: $blue-d; //dark

$bg-purple: $purple; //normal
$bg-purple-d: $purple-d; //dark
